* {
  margin:0;
  padding: 0;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, .75);
  }
  
  .modal {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    overflow: hidden;
  }

  .wrapper {
    background-color: whitesmoke;
    height:80vh;
    width:80vw;
    max-width: 800px;
  }

  .modalTitle {

  }